{% extends 'costomer_base.html' %}

{% block aboutus_page %}

 <div class="container">
    <h3>About Minikart</h3>
    <P>
        bfghjklvbkfdj ih ixc vui fnv jfhv fvini djkhf  j c dfd   jdc 
    </P>

    <br>

    <h3>Develpors</h3>

    <br>
    
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-top:10px">
            <div class="card">
                <img height=200px class="card-img-top img-fluid" src="https://sht.one/mb81Q" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Arihant</h4>


                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top:10px">
            <div class="card">
                <img height=200px class="card-img-top img-fluid" src="https://sht.one/Z_r5V">
                <div class="card-block">
                    <h4 class="card-title">omprakash</h4>


                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-top:10px">
            <div class="card">
                <img height=200px class="card-img-top img-fluid" src="https://bjo.bz/jV--F" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Pankaj</h4>


                </div>
            </div>
        </div>

    </div>
</div>

<br />
<br />

{% endblock aboutus_page %}