{% extends 'seller_base.html' %}

{% block seller_order_page %}


<br>
<br>

<div class="container">
    <h2>
        <strong>Order Receive</strong>
    </h2>
    <br>
    <br>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer name</th>
                <th scope="col">Customer mobile NO.</th>
                <th scope="col">Product name </th>
                <th scope="col">Quantity </th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock seller_order_page %}