{% extends 'costomer_base.html' %}

{% block active_shop_page_layout %} active {% endblock active_shop_page_layout %}

{% block shop_page_layout %}
<br>
<br>
<div class="container">
    <div class="row"> 
        <div class="col-12">
            <div class="card mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Shop Name</h5>
                  <p class="card-text">shop description.</p>
                  <button type="button" class="btn btn-dark">talk to owner</button>
                </div>
              </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Product 1</h5>
                  <p class="card-text">description of the product </p>
                  <a href="#" class="btn btn-primary">buy</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock shop_page_layout %}
